<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:fragment="headAttributes">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
  </th:block>
    <title>Title</title>

</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light border border-light">
  <a class="navbar-brand " th:href="@{/}"><span class="hey"><img id="banner"  th:src="@{/images/hello.png}"><img id="hello" th:src="@{/images/header.png}"></span> </a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarContent" aria-controls="navbarContent"
        aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>

</button>
<div class="collapse navbar-collapse" id="navbarContent">
  <ul class="navbar-nav mr-auto ">
    <li class="nav-item">
      <a class="nav-link" th:classappend="${#request.getServletPath() =='/' ? 'active' : ''}" th:href="@{/}">Home</a> </li>
    <li class="nav-item" >
      <a class="nav-link" th:classappend="${#request.getServletPath() =='/flashcard' ? 'active' : ''}" th:href="@{/flashcard}">Create Flashcard</a> </li>
    <li class="nav-item">
      <a class="nav-link" th:classappend="${#request.getServletPath() =='/flashcard/display' ? 'active' : ''}" th:href="@{/flashcard/display}">Display Flashcards</a> </li>

  </ul>

</div>


</nav>

<div th:fragment="header">
  <div class="container-fluid">
    <div class="row justify-content-center mt-3 mb-2">
  </div>
  </div>

</div>
<footer class="footer bg-dark bg-opacity-20" th:fragment="footer">
  <div class="container text-center">
    <span class="text-muted"> Jestin Jose@ Copyright 2021</span>
  </div>
</footer>

</body>
<th:block th:fragment="scripts">
  <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.min.js}"> </script>
</th:block>
</html>