.btn {
    width: 35%;
}

.footer {
    position: fixed;;
    bottom: 0;
    width: 100%;
    height: auto;


}


#main-img {
    height: 250px;
    width: 388px;
}

#Logo {
    height: 80px;
    margin-top: 12px;
}

#Log {
    height: 90px;
    width: 280px;
}


