.btn {
    width:35%;
}

.footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 40px;



}
#main-img {
    height: 200px;
    width: 300px;
}


#hello{
    width: 300px;
}
#banner {
    width:100px;

}
