<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headAttributes"></th:block>
    <title>Add Flashcard</title>
</head>
<body>

<div th:replace="fragments/base :: header"></div>

<form th:action="@{/flashcard}" th:object="${flashcard}" method="post">
    <label th:text="${topic}"></label>
    <input id="Topic" type="text" th:field="*{topic}" >

    <br><br><br>

    <label th:text="${term}"></label>
    <input id="Term" type="text" th:field="*{term}" >

    <br><br>

    <label th:text="${definition}"></label>
    <input id="Definition" type="text" th:field="*{definition}" >



    <br><br><br>

    <label th:text="${term}"></label>
    <input id="Term-2" type="text" th:field="*{term}" >

    <br><br>

    <label th:text="${definition}"></label>
    <input id="Definition-2" type="text" th:field="*{definition}" >

    <br><br><br>

    <input type="submit" value="Add">
</form>
 <br><br>
<div th:replace="fragments/base :: footer"></div>

</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>