<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headAttributes"></th:block>
    <title>Display Flashcard</title>
</head>
<body>
<div th:replace="fragments/base :: navigation"></div>


<div class="container-fluid mt-5 ">
    <div th:each="flashcard:${flashcards}">
        <div class="row justify-content-center mb-3">
        <div class="col-3 col-md-9"></div>
        <div class="col-9 col-md-4 card bg-warning text-light mb-3  ">
            <div class=" card-body ">
            <h2 class=" card-title d-inline"  th:text="${flashcard.topic}"></h2>
            <a th:href="@{/flashcard/display/{id}(id= ${flashcard.id})}" class="mr-8 "><i class="fas fa-eye link-primary"></i></a>
                <a th:href="@{/flashcard/delete/{id}(id=${flashcard.id})}" class="mr-8 text-danger"><i class="fas fa-trash-alt"></i></a>
            </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="fragments/base :: footer"></div>

</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>